/*header开始*/
.slide{
    position: relative;
    height: 460px;
}
.img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
}
.prev-btn,.next-btn{
    height: 70px;
    width: 40px;
    position: absolute;
    top:50%;
    margin-top: -35px;
    color: #757575;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    border-radius: 4px;

}
.prev-btn:hover,.next-btn:hover{
    background-color: #333;
    color: #fff;
}
.prev-btn{
    left: 234px;
}
.next-btn{
    right:0px;

}
.btns li{
    width: 6px;
    height: 6px;
    background:#232429;
    border: 2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius:50%;
    cursor: pointer;
}
.btns li:hover{
    background: #898a8e;
    border:2px solid #4f4e56;
}
.btns{
    width: 128px;
    position: absolute;
    right: 0px;
    bottom:20px;
}
.slide-category{
    width: 234px;
    height: 460px;
    z-index: 21;
    font-size: 14px;
    display: block;
    position: absolute;

}
.slide-category-list{
    height: 420px;
    border: 0;
    margin: 0;
    padding: 20px 0;

    background: #333;
    background: rgba(0,0,0,0.6);

}
.category-item{
    width: 234px;
    height: 42px;
    display:block;
}
.slide-category-list .title{
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}
.category-item:hover{
    background: #ff6700;
}
.icon-arrow{
    float:right;
    margin-right: 15px;
}
.sub-list{
    background: #fff;
    position: absolute;
    top:0;
    left: 234px;
    height: 100%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    display: none;
}
.category-item:hover .sub-list{
    display: block;
}
.sub-list-3{
    width: 795px;

}
.sub-list ul{
    height: 460px;
    float: left;
    width: 265px;
}
.sub-list li{

    overflow: hidden;
    padding: 18px 15px 18px 20px;
}
.sub-list a{
    float: left;


}
.list-img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.list-title{
    color: #333;
    font-size: 14px;

}
.list-img-box{
    width: 170px;
}
.list-img-box:hover .list-title{
    color: #ff6700;
}
.buy-btn{
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    margin-top:10px;

}
.slide-box-row{
    margin-top: 14px;
    background: #ff6;
    width: 1226px;
    height: 170px;
}
.quick{
    width: 234px;
    height: 170px;
    background: #5f5750;
}
.convenience{
    width: 70px;
    height: 82px;
    padding: 0 3px;
    float: left;
    overflow: hidden;
}
.channel-list a{
    color: #757575;
    font-size: 12px;
    width: 70px;
    height: 64px;
    display: block;
    padding-top: 18px;
}
.i

