body{
    background: #ff6700;
    background-image:url(../../images/1.jpg);
}
#div1 img{
    transform: rotateX(30deg);
    transform-origin: 0%;
    
}
.aa{
    background: #eeffee;
    transform: translateX(10)
}
